<!-- base.html을 확장해 템플릿끼리 연결 -->
{% extends 'base.html' %}

<!-- base.html 파일의 block 태그와 일치 -->
{% block content %}
<div class="content pt-2">
    <div class="row">
        <!-- for 문을 이용해 목록 보여줌 -->
        {% for post in posts %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="btn-container">
                        <div class="d-inline-block">
                            <small class="float-right">{{ post.created }}</small>
                        </div>

                        <div class="content-container">
                            <span><strong>{{ post.author }}</strong></span>
                            <!-- Post 모델에서 정의한 content 필드 접근 -->
                            <p>{{ post.content }}</p>
                        </div>
                        <div>
                            <a href="{% url 'posts:post-ammend' pk=post.pk %}">수정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}