{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css.map' %}">
    <title>post-list page</title>
</head>
<body>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <!-- for 문을 이용해 목록 보여줌 -->
            {% for post in posts %}
            <!-- Post 모델에서 정의한 content 필드 접근 -->
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>