<!-- base.html을 확장해 템플릿끼리 연결 -->
{% extends 'base.html' %}

<!-- base.html 파일의 block 태그와 일치 -->
{% block content %}
<div class="content pt-2">
    <div class="row">
        <!-- for 문을 이용해 목록 보여줌 -->
        {% for post in posts %}
        <div class="col-12 col-sm-6 col-md-4 mb-2">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="btn-container">
                        <div class="d-inline-block">
                            <small class="float-right">{{ post.created }}</small>
                        </div>

                        <div class="content-container">
                            <span><strong>{{ post.author }}</strong></span>
                            <div class="img-box">
                                <!--  Post 객체의 인스턴스에서 Post를 외부 키로 연결하고 있는 PostImage 안의 image를 역참조 -->
                                {% for post_image in post.postimage_set.all %}
                                <!-- PostImage 객체의 인스턴스의 image 필드 값은 ImageFieldFile이라는 class -->
                                <!-- 그 class의 프로퍼티에 url이 있음 -->
                                <img src="{{ post_image.image.url }}" alt="">
                                {% endfor %}
                            </div>
                            <!-- Post 모델에서 정의한 content 필드 접근 -->
                            <p>{{ post.content }}</p>
                        </div>
                        <div>
                            <a href="{% url 'posts:post-ammend' pk=post.pk %}">수정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}